*::before 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    box-sizing: inherit;
    height: 100%;
    font-family: 'Arial', sans-serif;
    line-height: 1.5;
  }
  
  .container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 10px;
  }

  
/* header start */

.header__cards {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .header__cards--img {
    margin: 0;
    padding: 0;
  }
  
  .header__cards--item {
    margin: 0;
    padding: 0;
    width: 96px;
    margin-left: 55px;
  }
  
  .header__cards--span {
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  
  .header__cards--hr {
    border-radius: 10px;
    background: #B00000;
    width: 72px;
    height: 2px;
    flex-shrink: 0;
  }
  
  .header__cards--ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 135px;
  }
  
  .header__cards--ul--li {
    color: #000;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 33px;
  }
  
  .header__cards--ul--li-1 {
    color: #000;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 150px;
  }
  
  .header__cards--ul--li-2 {
    color: #000;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 52px;
  }
  
  .header__carsd--item--card {
    display: flex;
    align-items: center;
  }
  
  .header__carsd--item--card--strong {
    color: #000;
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 15px;
  }
  
  /* header end */
  

  
/* hero start */
.hero__cards {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero__cards--left {
    width: 50%;
  }
  
  .hero__cards--left--item {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .hero__cards--left--item-cards {
    margin-right: 23px;
  }
  
  .hero__cards--left--item--span {
    margin: 0;
    padding: 0;
    color: #B00000;
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 5px;
  }
  
  .hero__cards--left--item--hr {
    margin: 0;
    padding: 0;
    width: 47px;
    height: 1px;
    flex-shrink: 0;
    background: #B00000;
  }
  
  .hero__cards--left--item--card--span {
    color: rgba(214, 212, 212, 0.88);
    font-family: "Poppins";
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 18px;
  }
  
  .hero__cards--left--h1 {
    color: var(--text-title, #2E2E2E);
    font-family: "Poppins";
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 77.5px;
    /* 121.094% */
  }
  
  .hero__cards--left--p {
    color: var(--text-body, #808080);
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
    letter-spacing: 0.8px;
  }
  
  .hero__cards--left--bottom {
    margin-top: 60px;
    display: flex;
    align-items: center;
  }
  
  .hero__cards--left--bottom--button-1 {
    display: flex;
    width: 160px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #B00000;
    box-shadow: 0px 0px 64px 0px rgba(176, 0, 0, 0.30);
    color: var(--text-white, #FFF);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 44px;
  }
  
  .hero__cards--left--bottom--button-2 {
    display: flex;
    width: 160px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid var(--base-black, #000);
    color: var(--base-black, #000);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    background: transparent;
  }
  
  /* hero end */

  
  /* main start */

.main__cards {
    margin-top: 100px;
  }
  
  .main__cards--top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main__cards--top--left {
    margin: 0;
  }
  
  .main__cards--top--left--h2 {
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: "Inter";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: 64px;
    /* 133.333% */
    margin-right: 100px;
  }
  
  .main__cards--top--left--p {
    width: 573px;
    color: var(--text-gray-900, #18191F);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: "Inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 177.778% */
  }
  
  .main__cards--top--right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 65%;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .main--icon-1 {
    margin-right: 41px;
    margin-bottom: 55px;
  }
  
  .main--icon-2 {
    margin-right: 20px;
  }
  
  .main__cards--bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
  }
  
  .main__cards--bottom--card {
    text-align: center;
  }
  
  .main__cards--bottom--h3 {
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
  .main__cards--bottom--p {
    color: #000;
    text-align: center;
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
  }
  /* main end */
  